 body {
   margin: 20px;
 }

header {
    margin-top: 100px;
 }

 header p {
    font-size: 40px;
 }


 
 #tableHeader {
    font-size: 35px;
 }
 
 * th, td {
    margin:0;
    padding-bottom: 1rem
 }

 * td{
   border: solid 2px black;
 }



 .input {
  border: 1px solid #2519ad;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}